.containter-opacity
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background rgba(30,30,30,0.45)
	z-index 2
	display none

.layoud-wrapper-form
	background #FFFFFF
	border-radius 5px
	margin 0 auto
	width 300px
	display none

	&-title
		border-bottom 1px solid #dddddd
		font-size 14px
		padding 10px 12px
		color #3d699e

.form
	padding 1em

	&-login
		overflow hidden
		margin 6px

		> label
			font-size 14px
			font-weight bold
			color rgba(black, .8)

		&-control
			border-radius 3px
			border 1px solid #dddddd
			box-sizing border-box
			color #555
			display block
			font-size 14px
			height 34px
			padding 6px 12px
			width 100%

		&-btn-log
			background azul-oscuro
			border 1px solid #FFF
			border-radius 4px
			color #FFFFFF
			cursor pointer
			padding .8em
