.containter-opacity
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	background rgba(30,30,30,0.45)
	z-index 2
	display none

.layoud-wrapper-form
	background #FFFFFF
	border-radius 5px
	margin 0 auto
	width 300px
	position fixed
	top 50%
	margin-top -150px
	left 50%
	margin-left -150px
	z-index 2
	display none

	&-title
		border-bottom 1px solid #dddddd
		font-size 1em
		text-align center
		padding 1em
		margin 0
		text-transform uppercase
		letter-spacing .5px
		color #3d699e

.form
	padding 1em

	&-alert-msg
		display block
		font-size 13px
		color #999999
		text-align end
		padding .3em 0

	&-login
		overflow hidden
		margin 6px

		> label
			display block
			font-size 14px
			font-weight bold
			color rgba(black, .8)
			padding .3em 0

		&-control
			border-radius 3px
			border 1px solid #dddddd
			box-sizing border-box
			color #555
			display block
			font-size 14px
			height 34px
			padding 6px 12px
			width 100%
			&.alert
				outline-color rojo
				border-color rojo


		&-btn-log
			background azul-oscuro
			border 1px solid #FFF
			border-radius 4px
			color #FFFFFF
			cursor pointer
			float: right;
			padding .4em .8em
