.header
	background azul-oscuro


.navbar
	&-list
		display flex
		flex-direction row
		flex-wrap wrap
		
		&-item
			margin-right 10px
			
			>a 
				padding 1em
				display block
				text-decoration none
				color #FFFFFF
				border-top 4px solid transparent
				transition all .3s
				
				&:hover
					border-top 4px solid rojo-oscuro