.header
	background azul-oscuro
	padding 1em

.container-title
	overflow hidden

.title
	font-size 1.2em
	color verde-claro
	float left

.nav
	float right
	.items .item
		display inline-block
		font-size 12px
		text-decoration none
		a
			color #c9de55
			text-decoration none
			padding .5em
