@import 'nib'
@import 'normalize'


azul-oscuro = #2C3E50
rojo-oscuro = #E74C3C



body
	font-size 16px

ul
	list-style none
	padding 0
	margin 0
	

.wrapper
	max-width 1000px
	margin 0 auto
	

@import 'header'
@import 'messages'