
.container-chat
	height calc(100vh - 54px)
	position relative
	
	&-messages
		padding 1em
		height calc( 100% - 116px )
		
	
	&-form
		border-top 1px solid rgba(128, 128, 128, 0.41)
		padding .5em
		position absolute
		bottom 0
		left 0
		right 0
		
		&-content-emojis
			display none
		
		
		&-text
			padding .8em
			resize none
			width 80%
			border none
			position relative
			box-sizing border-box

			
		&-emoji
			border none
			background none
			position absolute
			top 20px
			
		&-send
			width 35px
			height 35px
			float right
			margin-top 10px
			border none
			background azul-oscuro
			border-radius 50%
			font-size 1.3em
			
			
@media screen and (min-width: 768px)
	.container-chat-form

		&-send
			width 40px
			height 40px
			margin 5px 0 0 0
			
		&-text
			width 90%
		
@media screen and (min-widt: 1000px)
	.container-chat-form

		&-send
			width 40px
			height 40px
			margin 5px 15px 0 0
		


			
			